﻿@model MvcAuction.Models.Auction
@{
    var auction = Model;
}

<div class="auction">

    <h3>@auction.Title</h3>

    <div class="details">
       <p>Start Time: @auction.StartTime.ToString("g")</p>
       <p>End Time: @auction.EndTime.ToString("g")</p>
       <p>Starting Price: @auction.StartPrice.ToString("C")</p>
       <p>Current Price:
           @*
               Since CurrentPrice is nullable we have to check to
               see if it has a value before we call .ToString()!
           *@

           @if(auction.CurrentPrice == null)
           {
               <text>
               [No bids]
               </text>
           }
           else
           {
               <span>@auction.CurrentPrice.Value.ToString("C")</span>
           }
       </p>
    </div>

    @if(auction.ImageUrl != null) {
       <img src="@auction.ImageUrl" title="@auction.Title" />
    }

    <div class="description">
       @auction.Description
    </div>

</div>