﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>This really is our view!</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="success-message">@TempData["SuccessMessage"]</div>
}